<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MobiObmen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DBConnection" connectionString="data source=(local);Initial Catalog=MobiObmen;user id=shaha;password=1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="MSSQL" value="Data Source=(local); Initial Catalog=MobiObmen; User id=shaha; Password=1234;" />

    <add key="FromEmail" value="surush@babilon-m.com" />
    <add key="FromEmailPassword" value="BGtnd#" />
    <add key="WhomSend" value="surush@babilon-m.com" />
    <add key="JAsimov" value="jafar@babilon-m.com" />
    <add key="SJumaev" value="jumaevs@babilon-m.com" />
    <add key="AllBilling" value="billing@babilon-m.com" />
    <add key="MailServer" value="mail.babilon-m.tj" />
    <add key="MailPort" value="25" />
    
  </appSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Boss4UnifiedInterfaceServiceSOAP11Binding" />
        <binding name="Boss4ECareInterfaceServiceSOAP11Binding" />
        <binding name="Boss4ECareInterfaceServiceSOAP11Binding1" />
        <binding name="Boss4UnifiedInterfaceServiceSOAP11Binding1" />
      </basicHttpBinding>
      <customBinding>
        <binding name="Boss4UnifiedInterfaceServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="Boss4ECareInterfaceServiceSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="Boss4ECareInterfaceServiceSOAP12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
        <binding name="Boss4UnifiedInterfaceServiceSOAP12Binding1">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://172.16.2.62:80/axis2/services/Boss4UnifiedInterfaceService"
          binding="basicHttpBinding" bindingConfiguration="Boss4UnifiedInterfaceServiceSOAP11Binding"
          contract="Boss4UnifiedInterfaceService.Boss4UnifiedInterfaceServicePortType"
          name="Boss4UnifiedInterfaceServiceSOAP11port_http" />
      <endpoint address="http://172.16.2.62:80/axis2/services/Boss4ECareInterfaceService"
          binding="basicHttpBinding" bindingConfiguration="Boss4ECareInterfaceServiceSOAP11Binding"
          contract="CareInterfaceService.Boss4ECareInterfaceServicePortType"
          name="Boss4ECareInterfaceServiceSOAP11port_http" />
      <endpoint address="http://172.16.2.62:80/axis2/services/Boss4ECareInterfaceService"
          binding="customBinding" bindingConfiguration="Boss4ECareInterfaceServiceSOAP12Binding"
          contract="CareInterfaceService.Boss4ECareInterfaceServicePortType"
          name="Boss4ECareInterfaceServiceSOAP12port_http" />
      <endpoint address="http://172.16.2.62:80/axis2/services/Boss4ECareInterfaceService"
          binding="basicHttpBinding" bindingConfiguration="Boss4ECareInterfaceServiceSOAP11Binding1"
          contract="ServiceReference1.Boss4ECareInterfaceServicePortType"
          name="Boss4ECareInterfaceServiceSOAP11port_http1" />
      <endpoint address="http://172.16.2.62:80/axis2/services/Boss4ECareInterfaceService"
          binding="customBinding" bindingConfiguration="Boss4ECareInterfaceServiceSOAP12Binding1"
          contract="ServiceReference1.Boss4ECareInterfaceServicePortType"
          name="Boss4ECareInterfaceServiceSOAP12port_http1" />
      <endpoint address="http://172.16.2.62:80/axis2/services/Boss4UnifiedInterfaceService"
          binding="basicHttpBinding" bindingConfiguration="Boss4UnifiedInterfaceServiceSOAP11Binding1"
          contract="UnifiedInterfaceService.Boss4UnifiedInterfaceServicePortType"
          name="Boss4UnifiedInterfaceServiceSOAP11port_http1" />
      <endpoint address="http://172.16.2.62:80/axis2/services/Boss4UnifiedInterfaceService"
          binding="customBinding" bindingConfiguration="Boss4UnifiedInterfaceServiceSOAP12Binding1"
          contract="UnifiedInterfaceService.Boss4UnifiedInterfaceServicePortType"
          name="Boss4UnifiedInterfaceServiceSOAP12port_http1" />
      <endpoint address="http://172.16.2.62:80/axis2/services/Boss4UnifiedInterfaceService"
          binding="customBinding" bindingConfiguration="Boss4UnifiedInterfaceServiceSOAP12Binding"
          contract="UnifiedInterfaceService.Boss4UnifiedInterfaceServicePortType"
          name="Boss4UnifiedInterfaceServiceSOAP12port_http" />

    </client>
  </system.serviceModel>
  <applicationSettings>
    <MobiObmen.Properties.Settings>
      <setting name="MobiObmen_Boss4ECareInterfaceService_Boss4ECareInterfaceService"
          serializeAs="String">
        <value>http://172.16.2.62:80/axis2/services/Boss4ECareInterfaceService</value>
      </setting>
    </MobiObmen.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
